body {
    font-family: 'Raleway';
    background-color: #fffdf5;
  }
  
  .border {
    max-width: 450px;
    min-height: 750px;
    margin: 40px auto;
    padding: 32px;
    border: 4px solid #d9d923;
    border-radius: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .container {
    text-align: center;
    font-weight: lighter;
  }

  .options{
    font-family: 'Raleway';
    size: 100px;
  }


