body {
    font-family: 'Raleway';
    background-color: #fffdf5;
  }
  
  .border {
    max-width: 450px;
    min-height: 750px;
    margin: 40px auto;
    padding: 32px;
    border: 4px solid #a39f88;
    border-radius: 16px;
    background-color:#d7d4c3;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    position: relative
  }
  

  .container {
    text-align: center;
    font-weight: lighter;
  }

  .options{
    font-family: 'Raleway';
    size: 100px;
    margin-top: 5%;
  }



