#transactionsBody {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .table-container {
    height: 70vh; 
    width: 35%;
    overflow-y: auto;
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 5%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
  }

  thead {
    background: gray;
  }

  #returnPiggyBankPage {
    margin-top: 2%;
  }