#transactionsBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .table-container {
    height: 70vh; 
    overflow-y: auto;
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 5%;
  }

  .MuiTable-root {
    width: 100%;
    border-collapse: collapse;
  }

  .MuiTableCell-head {
    /* padding: 10px; */
    border: 1px solid gray;
    text-align: center;
  }

  .MuiTableCell-body {
    background: gray;
  }

  #returnPiggyBankPage {
    margin-top: 200%;
  }